@import "tailwindcss";

@utility scrollbar-hide {
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
  /* Safari and Chrome */
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}
